.cardContainer{
    position: relative;
    display: inline-block;
    width: 22em;
    height: 26em;
    margin: 2em;
}

.card{
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 0.5s ease;

}

.card:hover{
    cursor: pointer;
}

.flipped {
    transform: rotateY( 180deg );
}

.front{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    text-align: center;
    display: grid;
    grid-template-rows: 6em auto;
    padding: 2em;
}

.back{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background: #fafafa;
    color: #333;
    transform: rotateY(180deg);
}

i{
    width: 6em;
    margin: 0 auto;
    background-color: #5ece1d;
    border-radius: 100%;
}

.wrapper{
    display: grid;
    grid-template-rows: 30% 50% 20%;
}

.wrapper h4{
    font-size: 1.6em;
    color: #141415;
    margin: 0.3em 0 0 0;
}

.wrapper p{
    font-size: 1.1em;
    color: #888888;
    font-weight: 500;
    margin: 0em;
}

.wrapper .clubType{
    font-size: 0.85em;
}

@media screen and (max-width: 480px){
    .cardContainer{
        width: 90%;
        height: 4em;
        display: block;
        margin: 2em 0 2em auto;
    }

    .card{
        box-shadow: none;
    }

    .front{     
        grid-template-columns: 4em auto;
        grid-template-rows: none;
        text-align: left;
        padding: 0;
    }
    
    i{
        width: 100%;
        margin: 0;
    }

    .wrapper{
        height: inherit;
        grid-template-rows: 35% 30% 35%;
        padding: 0.1em 0 0.3em;
        margin-left: 1em;
    }
    
    .wrapper h4, .wrapper p{
        margin: 0;
    }

    .wrapper h4{
        font-size: 1.1em;
    }

    .wrapper p{
        margin-left: 0.1em;
        font-size: 0.8em;
    }

    .wrapper .clubType{
        margin-top: 0.5em;
        font-size: 0.65em;
    }

    .flipped{
        transform: none;
    }

    .back{
        display: none;
    }
}