*, *:before, *:after {
  box-sizing: border-box;
}

html, body{
  margin: 0;
  height: 100%;
}

.shadow {
  -webkit-box-shadow: 2px 4px 5px 6px rgb(230, 227, 227);  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    2px 4px 5px 6px rgb(230, 227, 227);  /* Firefox 3.5 - 3.6 */
  box-shadow:         2px 4px 5px 6px rgb(230, 227, 227);  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

